.main {
  &__title-about {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
  &__stih {
    font-size: 18px;
    line-height: 130%;
    margin: 1rem 0;
  }
}
