.main {
  &__title {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
  &__title-card {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 1rem 0;
  }
}
