.onoffswitch {
   position: relative;
   width: 72px;
   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
   margin: 0 0 18px 0;
}
.onoffswitch-checkbox {
   display: none;
}
.onoffswitch-label {
   display: block; overflow: hidden; cursor: pointer;
   border: 2px solid rgba(0, 0, 0, 0.42);
   border-radius: 20px;
}
.onoffswitch-inner {
   display: block; width: 200%; margin-left: -100%;
   transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
   display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
   font-size: 12px; color: black; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
   box-sizing: border-box;
}
.onoffswitch-inner:before {
   content: "female";
   padding-left: 9px;
   background-color: #FFFFFF;
   color: rgba(73, 80, 87, 0.87);;
}
.onoffswitch-inner:after {
   content: "male";
   padding-right: 14px;
   background-color: #FFFFFF;
   color: rgba(73, 80, 87, 0.87);
   text-align: right;
}
.onoffswitch-switch {
   display: block;
   width: 12px;
   height: 16px;
   margin: 5px;
   background: #FFFFFF;
   position: absolute; top: 0; bottom: 0;
   right: 48px;
   border: 2px solid rgba(0, 0, 0, 0.42);
   border-radius: 20px;
   transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
   margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
   right: 0px; 
}
.onoffswitch-description {
   font-weight: 500;
   font-size: 12px;
   line-height: 166%;
   color: rgba(73, 80, 87, 0.6);
}
