.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
  &__box {
    border: 1px solid #d3d4d5;
    padding: 8px;
  }
  &__url {
    margin: 0 0 8px 0;
  }
  &__img {
    width: 350px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
  }
  &__name {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin: 0 0 8px 0;
    &::before {
      content: 'name:';
    }
  }
  &__first-name,
  &__last-name {
    font-size: 18px;
    font-weight: 700;
  }
  &__gender {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 8px 0;
    &::before {
      content: 'gender:';
      font-weight: 400;
      margin: 0 5px 0 0;
    }
  }
  &__cost {
    font-size: 40px;
    text-align: center;
    margin: 0 0 8px 0;
    &::before {
      content: '\20BD';
      font-size: 22px;
      margin: 0 5px 0 0;
    }
  }
  &__email {
    &::before {
      content: 'contact: ';
    }
  }
}
